@font-face {
    font-family: Iosevka; font-display: swap;
    font-weight: 200; font-style: normal;
    src: url('/fonts/Iosevka/iosevka-ss09-extralight.woff2');
}
@font-face {
    font-family: Iosevka; font-display: swap;
    font-weight: 200; font-style: italic;
    src: url('/fonts/Iosevka/iosevka-ss09-extralightitalic.woff2');
}
@font-face {
    font-family: Iosevka; font-display: swap;
    font-weight: 300; font-style: normal;
    src: url('/fonts/Iosevka/iosevka-ss09-light.woff2');
}
@font-face {
    font-family: Iosevka; font-display: swap;
    font-weight: 300; font-style: italic;
    src: url('/fonts/Iosevka/iosevka-ss09-lightitalic.woff2');
}
@font-face {
    font-family: Iosevka; font-display: swap;
    font-weight: 400; font-style: normal;
    src: url('/fonts/Iosevka/iosevka-ss09-regular.woff2');
}
@font-face {
    font-family: Iosevka; font-display: swap;
    font-weight: 400; font-style: italic;
    src: url('/fonts/Iosevka/iosevka-ss09-italic.woff2');
}
@font-face {
    font-family: Iosevka; font-display: swap;
    font-weight: 500; font-style: normal;
    src: url('/fonts/Iosevka/iosevka-ss09-medium.woff2');
}
@font-face {
    font-family: Iosevka; font-display: swap;
    font-weight: 500; font-style: italic;
    src: url('/fonts/Iosevka/iosevka-ss09-mediumitalic.woff2');
}
@font-face {
    font-family: Iosevka; font-display: swap;
    font-weight: 700; font-style: normal;
    src: url('/fonts/Iosevka/iosevka-ss09-bold.woff2');
}
@font-face {
    font-family: Iosevka; font-display: swap;
    font-weight: 700; font-style: italic;
    src: url('/fonts/Iosevka/iosevka-ss09-bolditalic.woff2');
}
@font-face {
    font-family: Iosevka; font-display: swap;
    font-weight: 900; font-style: normal;
    src: url('/fonts/Iosevka/iosevka-ss09-heavy.woff2');
}
@font-face {
    font-family: Iosevka; font-display: swap;
    font-weight: 900; font-style: italic;
    src: url('/fonts/Iosevka/iosevka-ss09-heavyitalic.woff2');
}
