@font-face {
    font-family: Alegreya; src: url("/fonts/Alegreya/Alegreya-Regular.otf");
    font-weight: 400; font-style: normal;
}
@font-face {
    font-family: Alegreya; src: url("/fonts/Alegreya/Alegreya-Italic.otf");
    font-weight: 400; font-style: italic;
}
@font-face {
    font-family: Alegreya; src: url("/fonts/Alegreya/Alegreya-Bold.otf");
    font-weight: 700; font-style: normal;
}
@font-face {
    font-family: Alegreya; src: url("/fonts/Alegreya/Alegreya-BoldItalic.otf");
    font-weight: 700; font-style: italic;
}
@font-face {
    font-family: Alegreya; src: url("/fonts/Alegreya/Alegreya-Black.otf");
    font-weight: 900; font-style: normal;
}
@font-face {
    font-family: Alegreya; src: url("/fonts/Alegreya/Alegreya-BlackItalic.otf");
    font-weight: 900; font-style: italic;
}
