header h1:before, header h1:after {
    content: "⚙";
    display: inline-block;
    position: relative;
    font-size: 1.3em;
    animation: spin 5s linear infinite;
}

header h1:before {
    right: 10px;
}

header h1:after {
    left: 9px;
}

@keyframes spin {
    100% {
	transform: rotate(360deg);
    }
}
