header {
    margin-bottom: 3em;
}

header .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.8em;
    margin-top: 1.0em;
}

header .title:before {
    content: "";
    background: url("../img/logo_1024.png");
    background-size: cover;
    height: 4.5em;
    width: 4.5em;
    display: block;
    margin-bottom: 0.2em;
}
