:root {
    /* Misc variables */
    --anchor-margin: 84px;
    --anchor-padding: 18px;

    --shaded: rgba(0, 0, 0, 0.07);

    --primary-hue: 300;
    --primary-sat: 70%;
    --blackish: rgb(50, 50, 50);
    --whiteish: rgb(254, 253, 252);
    --primary-darker:  hsl(var(--primary-hue), var(--primary-sat), 12%);
    --primary-dark:    hsl(var(--primary-hue), var(--primary-sat), 35%);
    --primary:         hsl(var(--primary-hue), var(--primary-sat), 50%);
    --primary-light:   hsl(var(--primary-hue), var(--primary-sat), 72%);
    --primary-lighter: hsl(var(--primary-hue), var(--primary-sat), 90%);

    /* Code */
    --code-green: #307050;
    --code-blue: #406090;
    --code-purple: #804090;
    --code-saturated-orange: #f0a020;
    --code-bleak-orange: #806010;
    --code-red: #903030;
    --code-turquoise: #207070;
    --code-gray: #506680;
    --code-black: #304050;
}

body {
    font-family: Alegreya, serif;
    font-size: 21px;
    line-height: 1.6;
    margin: 0;
    color: var(--blackish);
    background-color: var(--whiteish);
}

h1, h2, h3, h4, h5 { margin-top: 0.7em; margin-bottom: 0.2em; }

.section-number-2, .section-number-3, .section-number-4, .section-number-5 {
    display: inline-block;
    box-sizing: border-box;
    width: var(--anchor-margin);
    padding-right: var(--anchor-padding);
    text-align: right;
}

main h2, main h3, main h4, main h5 {
    position: relative;
    left: calc(0px - var(--anchor-margin));
}

h1 { font-size: 2.5em; }
h2 { font-size: 1.9em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; }

.tag { display: inline-block; }

.todo, .tag { font-size: 0.8em; }

.outline-2 { margin-bottom: 2.4em; }

img {
    width: 100%;
    border-radius: 8px;
}

figure { margin: 1.4em 0; }

figcaption { text-align: center; }

p { margin: 0; }

main p {
    text-align: justify;
    text-indent: 1.6em;
}

* > p:first-child { text-indent: 0; }

a {
    color: var(--primary);
    text-decoration: none;
}
a:visited { color: var(--primary-dark); }
a:hover { text-decoration: underline; }

.math-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: calc(2.7em + 2em);
    margin-top: -0.8em;
    margin-bottom: -0.8em;
}

.mathjax-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 2.7em;
}

.mathjax-wrapper > .MathJax_Display { margin: 0; }

pre.src {
    font-family: Iosevka, monospace;
    font-size: 0.95em;
    overflow-x: auto !important;
    border: var(--primary-lighter) 2px dashed;
    padding: 5px 8px;
}

/* CUSTOM_ID boxes */
pre.example { display: none; }

code {
    font-family: Iosevka;
    font-size: 0.9em;
    color: black;
    background-color: var(--primary-lighter);
    padding: 0 0.15em;
}

.footdef { display: flex; }

/* Main layouting */
body {
    display: grid;
    grid-template-rows: [header-start] auto [header-end main-start toc-start] auto [main-end toc-end] auto [footer-end];
    grid-template-columns: [full-start] 320px [toc-end center-start] auto [center-end] 320px [full-end];
    grid-gap: 2em;
}
header {
    grid-row: header-start / header-end;
    grid-column: full-start / full-end;
}
#table-of-contents {
    grid-row: toc-start / toc-end;
    grid-column: full-start / toc-end;
}
main {
    grid-row: main-start / main-end;
    grid-column: center-start / center-end;
    justify-self: center;
    max-width: 720px;
    width: auto;
    margin: 0 var(--anchor-margin);
}
footer {
    grid-row: main-end / footer-end;
    grid-column: full-start / full-end;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sitenav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#sitenav a:first-child { margin-right: auto; }

#sitenav a:first-child img {
    height: 2.2em;
    width: 2.2em;
}

#sitenav a {
    padding: 0.3em 0.8em;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--primary);
}

#sitenav a:visited { color: var(--primary); }

header .title { margin-left: 10px; margin-right: 10px; }
header .subtitle {
    font-size: 1.2em;
    font-style: italic;
    margin: 0 10px;
}

#table-of-contents {
    align-self: start;
    font-weight: bold;
    padding: 1.0em;
    background-color: var(--primary-darker);
    color: var(--whiteish);
}
#table-of-contents h2 { font-size: 1.6em; }
#table-of-contents a { color: var(--primary-light); }
#table-of-contents a:visited { color: var(--primary-light); }
#table-of-contents > h2 { margin-top: 12px; }
#table-of-contents ul { padding-left: 1em; }

main > div:first-child > h2 { margin-top: 0; }

footer {
    padding: 14px;
    padding-top: 18px;
    margin-top: 20px;
    background-color: var(--primary-darker);
    color: var(--whiteish);
}

footer a, footer a:visited { color: var(--primary-light) }

footer p { text-align: left; }

/* Code faces */

pre.src { color: var(--code-black); }
pre.src .org-builtin { color: var(--code-bleak-orange); }
pre.src .org-comment, pre.src .org-comment-delimiter {
    color: var(--code-gray);
    font-style: italic; }
pre.src .org-doc {
    color: var(--code-turquoise);
    font-style: italic; }
pre.src .org-function-name { color: var(--code-purple); }
pre.src .org-keyword {
    color: var(--code-black);
    font-style: italic; }
pre.src .org-string { color: var(--code-red); }
pre.src .org-type { color: var(--code-green); }
pre.src .org-constant {
    color: var(--code-gray);
    font-style: italic; }
pre.src .org-variable-name { color: var(--code-blue); }
pre.src .org-warning { color: var(--code-saturated-orange); }

@media screen and (max-width: 1640px) {
    :root {
	--anchor-margin: 76px;
	--anchor-padding: 14px;
    }
    body {
	font-size: 20px;
	grid-template-columns: [full-start] 320px [toc-end center-start] auto [center-end full-end];
    }
    main { justify-self: start; }
}

@media screen and (max-width: 1250px) {
    body {
	grid-template-rows: [header-start] auto [header-end toc-start] auto [toc-end main-start] auto [main-end] auto [footer-end];
	grid-template-columns: [full-start center-start] auto [toc-end center-end full-end];
    }
}

@media screen and (max-width: 760px) {
    :root {
	--anchor-margin: 62px;
	--anchor-padding: 8px;
    }
    body {
	font-size: 17px;
    }
    pre.src {
	font-size: 0.8em;
    }
}

@media screen and (max-width: 570px) {
    :root {
	--anchor-margin: 0.9em;
    }
    body {
	font-size: 16px;
    }
    main h2, main h3, main h4, main h5 {
	position: unset;
    }
    .section-number-2, .section-number-3, .section-number-4, .section-number-5 {
	display: inline;
	width: auto;
    }
}

@media screen and (max-width: 466px) {
    body {
	font-size: 14px;
    }
    header nav {
	flex-direction: column;
    }
    pre.src {
	box-sizing: border-box;
	width: calc(100vw - 2 * 0.9em - 10px);
    }
}
