:root {
    /* Variable definitions */
    --toc-width: 320px;
    --common-padding: 18px;
    --article-width: 640px;
    --shaded: rgba(0, 0, 0, 0.07);
    --emerald: #2ecc71;
    --river: #3498db;
    --amethyst: #9b59b6;
    --asphalt: #425d78;
    --sunflower: #f1c40f;
    --carrot: #e67e22;
    --alizarin: #e74c3c;
    --clouds: #ecf0f1;
    --concrete: #95a5a6;
    --light-turquoise: #90c0a0;
    --dark-turquoise: #3a9a90;
    --bleak-emerald: #50c080;
    --dark-emerald: #24aa5c;
    --dark-river: #2980b9;
    --dark-asphalt: #2c3e50;
    --dark-sunflower: #b09000;
    --dark-carrot: #d35400;
    --bleak-alizarin: #d06065;
    --dark-alizarin: #bc3c34;
    --dark-clouds: #bdc3c7;
    --deep-clouds: #dce0e1;
    --dark-concrete: #7f8c8d;
}

body {
    font: 16px "Fira Sans", "Dejavu Sans", sans-serif;
    line-height: 1.6;
    margin: 0;
    color: rgb(50, 50, 50);
    background-color: rgb(254, 253, 252);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.4em;
}

#sitenav {
    padding: 8px 0;
    background-color: var(--shaded);
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#sitenav a {
    padding: 0 5px;
    margin: 0 5px;
}

#sitenav a:visited {
    color: rgba(20, 70, 240, 0.85);
}

header .title {
    margin-top: 0.9em;
    margin-bottom: 0.6em;
}

header .subtitle {
    font-style: italic;
}

main {
    display: grid;
    grid-template-columns: var(--toc-width) auto var(--toc-width);
}

#table-of-contents {
    grid-column: 1 / 2;
    font-size: 0.83em;
    padding: var(--common-padding);
}

#table-of-contents > h2 {
    margin-top: 0px;
}

#table-of-contents ul {
    padding-left: 16px;
}

article {
    grid-column: 2 / 3;
    justify-self: center;
    max-width: var(--article-width);
    width: auto;
    padding: var(--common-padding);
}

article > p:first-child, article > div:first-child > h2 {
    margin-top: 0;
}

.tag {
    display: inline-block;
}

.todo, .tag {
    font-size: 0.8em;
}

.outline-2 {
    margin-bottom: 2.6em;
}

img {
    width: 100%;
    border-radius: 8px;
}

figure {
    margin: 1.5em 0;
}

figcaption {
    text-align: center;
}

p {
    padding: 0px var(--common-padding);
    text-align: justify;
}

a {
    color: rgba(20, 70, 240, 0.85);
    text-decoration: none;
}

a:visited {
    color: rgba(150, 40, 210, 0.85);
}

a:hover {
    text-decoration: underline;
}

.math-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: calc(2.7em + 2em);
    margin-top: -0.8em;
    margin-bottom: -0.8em;
}

.mathjax-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 2.7em;
}

.mathjax-wrapper > .MathJax_Display {
    margin: 0;
}

pre.src {
    font-size: 0.9em;
    overflow-x: auto !important;
    border: rgb(0, 0, 0, 0.2) 2px dashed;
    padding: 6px 8px;
}

/* CUSTOM_ID boxes */
pre.example {
    display: none;
}

code {
    background-color: rgba(40, 160, 160, 0.1);
    padding: 0 0.15em;
}

.footdef {
    display: flex;
}

footer {
    padding: 14px;
    padding-top: 18px;
    margin-top: 20px;
    background-color: var(--shaded);
}

footer p {
    text-align: left;
}

@media screen and (max-width: 1000px) {
    :root {
	--common-padding: 12px;
    }

    #table-of-contents {
	padding: 8px;
    }

    main {
	padding: 10px;
	display: block;
    }

    article {
	max-width: none;
    }
}

@media screen and (max-width: 560px) {
    body {
	font-size: 10px;
    }
}


/* Code faces */

pre.src {
    color: var(--dark-asphalt); }
pre.src .org-builtin {
    color: var(--dark-sunflower); }
pre.src .org-comment, pre.src .org-comment-delimiter {
    color: var(--dark-concrete);
    font-style: italic; }
pre.src .org-doc {
    color: var(--dark-turquoise);
    font-style: italic; }
pre.src .org-function-name {
    color: var(--amethyst); }
pre.src .org-keyword {
    color: var(--dark-asphalt);
    font-style: italic; }
pre.src .org-string {
    color: var(--bleak-alizarin); }
pre.src .org-type {
    color: var(--dark-emerald); }
pre.src .org-constant {
    color: var(--dark-emerald);
    font-style: italic; }
pre.src .org-variable-name {
    color: var(--river); }
pre.src .org-warning {
    color: var(--dark-carrot); }
